body{
    background-image: url(images/bg2.webp);
}
.grid{
    margin: 50px auto;
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255,0.6);
}

.grid div{
    height: 70px;
    width: 70px;
}

